<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp4.Properties.Settings.VERİTABANIConnectionString"
            connectionString="Data Source=DESKTOP-6R1I3SI\SQLEXPRESS;Initial Catalog=VERİTABANI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp4.Properties.Settings.UyelerConnectionString"
            connectionString="Data Source=DESKTOP-6R1I3SI\SQLEXPRESS;Initial Catalog=Uyeler;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>